@charset "UTF-8";

html, body{
    height: 100%;
    background-image: url('../images/home_background.jpg');
    background-color: #303030;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-size: cover;
    -webkit-font-smoothing: antialiased;
    image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
}

.back-opacity-80{
    background-color: rgba(33, 37, 41,0.8);
}
.nav-link{
    font-weight: 500;
}