@charset "UTF-8";

html, body{
    background-color: #0E1217;
    -webkit-font-smoothing: antialiased;
    image-rendering: -webkit-optimize-contrast;
}

header{
    background-color:#0E1217;
    border-bottom: 1px solid #4b4b4b;
}

footer{
    border-top: 1px solid #4b4b4b;
    color:rgb(255, 255, 255)!important;
}

.nav-link{
    font-weight: 500;
}

.custom-card-dark{
    border-color: #9b9b9b;
    background-color: #000000bb;
}

.no-bullets {
    list-style-type: none;
}

.user-profile{
    border-radius: 50%;
    background-color: #868e96;
}

.utilities-icon{
    height: 2em;
    width: 2em;
}

.website-icon{
    height: 2em;
    width: 8em;
}

.background-laptop{
    background-image: linear-gradient(#0000004d, #000000e6), url("../images/Background_Desktop.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@media (max-device-width : 1180px)
{
    .background-laptop{
        background-image: linear-gradient(#0000004d, #000000e6), url("../images/Background_Mobile.png");
    }
}
