@charset "UTF-8";

html, body{
    background-color: #181818;
    -webkit-font-smoothing: antialiased;
    image-rendering: -webkit-optimize-contrast;
}

header{
    background-color: #212121;
}
.nav-link{
    font-weight: 500;
}