@charset "UTF-8";

html, body{
    background-color: #252525;
    -webkit-font-smoothing: antialiased;
    image-rendering: -webkit-optimize-contrast;
}

header{
    background-color:#000000;
}

footer{
    color:rgba(255,255,255,.5)!important;
}

.nav-link{
    font-weight: 500;
}

.no-bullets {
    list-style-type: none;
}

.background-laptop{
    background-image: linear-gradient(#0000004d, #000000e6), url("../images/home_background.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}

@media (max-device-width : 1180px)
{
    .background-laptop{
        background-image: linear-gradient(#0000004d, #000000e6), url("../images/home_background_mobile.png");
        min-height: 110vh;
    }
}
